.navbar {
  margin-top: 50px;
}

.linklist {
  text-align: right;
  margin: 20px 0 0;
}

.welcomebox {
  background-color: #E6E6DA;
}

.todayheader {
  background-color: #A0C493;
  border: 1px solid black;
  padding: 2px;
}

.today {
  background-color: #DCE8D8;
  margin-top: 4px;
  border: 1px solid black;
}

.James {
  float: left;
  height: auto;
  width: 150px;
  margin-right: 5px;
}

.tower {
  float: right;
  height: auto;
  width: 150px;
  margin: 0 5px 5px;
}

.rightheader {
  background-color: #A9C7D1;
  border: 1px solid black;
  padding: 2px;
}

.rightbackground {
  background-color: #D8E4E8;
  margin-top: 4px;
  margin-left: 4px;
  border: 1px solid black;
  padding-bottom: 240px;
}

.Werner {
  margin-left: 4px;
  float: right;
  height: auto;
  width: 75px;
}

.Duke {
  margin-left: 4px;
  float: right;
  height: auto;
  width: 115px;
}

img.us {
  width: 200px;
  height: 150px;
  display: block;
  margin: 0 auto 14px auto;
}

.linklist2 {
  list-style: none;
  margin: 4px 0 2px;
  border-bottom: 1px solid lightgray;
}

.Me {
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  background-color: #e6ffff;
}

.sidebarcolor {
  border: 1px solid lightgray;
  background-color: #e6ffff;
}

.AboutMe {
  padding-right: 4px;
  padding-top: 4px;
  margin-right: 4px;
}
