.navbar {
  margin-top: 50px;
}

.linklist {
  text-align: right;
  margin: 20px 0 0;
}

.welcomebox {
  background-color: #E6E6DA;
}

.todayheader {
  background-color: #A0C493;
  border: 1px solid black;
  padding: 2px;
}

.rightheader {
  background-color: #A9C7D1;
  border: 1px solid black;
  padding: 2px;
}

.rightbackground {
  background-color: #D8E4E8;
  margin-top: 4px;
  margin-left: 4px;
  border: 1px solid black;
  padding-bottom: 240px;
}

img.fam {
  width: 150px;
  height: 200px;
  display: block;
  margin: 0 auto 14px auto;
}

.sidebarmargin {
  list-style: none;
  margin-left: 4px;
  border: 1px solid lightgray;
}

.Me {
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  background-color: #e6ffff;
}

.sidebarcolor {
  border: 1px solid lightgray;
  background-color: #e6ffff;
}

.AboutMe {
  padding-right: 4px;
  padding-top: 4px;
  margin-right: 4px;
}
